# PyCity Schools Analysis

* As a whole, schools with higher budgets, did not yield better test results. By contrast, schools with higher spending per student actually (\$645-675) underperformed compared to schools with smaller budgets (<\$585 per student).

* As a whole, smaller and medium sized schools dramatically out-performed large sized schools on passing math performances (89-91% passing vs 67%).

* As a whole, charter schools out-performed the public district schools across all metrics. However, more analysis will be required to glean if the effect is due to school practices or the fact that charter schools tend to serve smaller student populations per school. 
---

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [5]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the overall passing rate (overall average score), i.e. (avg. math score + avg. reading score)/2

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [6]:
total_schools = len(school_data["school_name"].unique())
total_students = school_data["size"].sum()
total_budget = school_data["budget"].sum()
avg_math = student_data["math_score"].mean()
avg_read = student_data["reading_score"].mean()
overall_pass_rate=((avg_math+avg_read)/2)
summary_table = pd.DataFrame({"Total Schools":[total_schools],
                              "Total Students":[total_students],
                              "Total_budget":[total_budget],
                              "Avg Math Score":[avg_math],
                              "Avg Reading Score":[avg_read],
                              "Overall Pass Rate":[overall_pass_rate]})
summary_table
#school_data_complete.count

,Total Schools,Total Students,Total_budget,Avg Math Score,Avg Reading Score,Overall Pass Rate
0,15,39170,24649428,78.985371,81.87784,80.431606

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)
  
* Create a dataframe to hold the above results

## Top Performing Schools (By Passing Rate)

* Sort and display the top five schools in overall passing rate

In [7]:
a=school_data_complete.loc[:,["student_name", "school_name", "reading_score", "math_score","budget","grade","type"]]
a.head()

,student_name,school_name,reading_score,math_score,budget,grade,type
0,Paul Bradley,Huang High School,66,79,1910635,9th,District
1,Victor Smith,Huang High School,94,61,1910635,12th,District
2,Kevin Rodriguez,Huang High School,90,60,1910635,12th,District
3,Dr. Richard Scott,Huang High School,67,58,1910635,12th,District
4,Bonnie Ray,Huang High School,97,84,1910635,9th,District

In [21]:
#Consolidate data complete with relevant count excludeing non relevant categories by selecting them in the series, however check if parameters (i.e; budget*) can be used later with this method; OK
#Get Student count calculus OK in the same step by adding the ".count()" parameter
b= a.groupby(["school_name","budget"]).count()
b.head()
#b.count()# - works to check that data was "clean" or consistent at least, only by not selecting non-useful columns that had "trash" for this analysis' purpose

,,student_name,reading_score,math_score,grade,type
school_name,budget,,,,,
Bailey High School,3124928,4976,4976,4976,4976,4976
Cabrera High School,1081356,1858,1858,1858,1858,1858
Figueroa High School,1884411,2949,2949,2949,2949,2949
Ford High School,1763916,2739,2739,2739,2739,2739
Griffin High School,917500,1468,1468,1468,1468,1468

In [11]:
grouped_school=a.groupby("school_name")
students_school = grouped_school["student_name"].count()
budget_school=grouped_school["budget"].sum()/grouped_school["student_name"].count()
budget_student = grouped_school["budget"].sum()/grouped_school["student_name"].count()**2
grouped_math_avg = grouped_school["math_score"].sum()/grouped_school["student_name"].count()
grouped_read_avg=grouped_school["reading_score"].sum()/grouped_school["student_name"].count()
math_pass = a.loc[a["math_score"]>=70,:]
grouped_math_pass =  math_pass.groupby("school_name")
total_math_pass = (grouped_math_pass["math_score"].count()/grouped_school["student_name"].count())*100
read_pass = a.loc[a["reading_score"]>=70,:]
grouped_read_pass =  read_pass.groupby("school_name")
total_read_pass = (grouped_read_pass["reading_score"].count()/grouped_school["student_name"].count())*100
overall_rate=((total_read_pass+total_math_pass)/2)
#I am missing the "TYPE" column!!!
a_dif_index= school_data.set_index(["school_name"])["type"]
#grouped_type = a_dif_index.groupby("school_name")

In [12]:
top_schools = pd.DataFrame({"#Students":students_school,
                            "Budget":budget_school,
                            "$/student":budget_student,
                           "Math Avg":grouped_math_avg,
                           "Read Avg":grouped_read_avg,
                           "%Math Pass":total_math_pass,
                           "%Read Pass":total_read_pass,
                            "Type":a_dif_index,
                           "%Overall Rate":overall_rate})
z=top_schools
top_schools.style.format({'%Math Pass': "%{:.2f}"}).format({'%Read Pass': "%{:.2f}"}).format({'%Overall Rate': "%{:.2f}"}).format({'Math Avg': "{:.2f}"}).format({'Read Avg': "{:.2f}"}).format({'Budget': "${:.0f}"}).format({'$/student': "${:.0f}"})

## Best Performing Schools (By Passing Rate)

* Sort and display the five best-performing schools

In [14]:
top_schools_sorted = top_schools.sort_values("%Overall Rate", ascending=False)
top_schools_sorted.style.format({'%Math Pass': "%{:.2f}"}).format({'%Read Pass': "%{:.2f}"}).format({'%Overall Rate': "%{:.2f}"}).format({'Math Avg': "{:.2f}"}).format({'Read Avg': "{:.2f}"}).format({'Budget': "${:.0f}"}).format({'$/student': "${:.0f}"})

## Bottom Performing Schools (By Passing Rate)

* Sort and display the five worst-performing schools

In [15]:
worst_schools_sorted = top_schools.sort_values("%Overall Rate")
worst_schools_sorted.style.format({'%Math Pass': "%{:.2f}"}).format({'%Read Pass': "%{:.2f}"}).format({'%Overall Rate': "%{:.2f}"}).format({'Math Avg': "{:.1f}"}).format({'Read Avg': "{:.1f}"}).format({'Budget': "${:.0f}"}).format({'$/student': "${:.0f}"})

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [16]:
math_9 = a.loc[a["grade"] == "9th",:]
grouped_math_9=math_9.groupby("school_name")
grouped_math_avg_9=grouped_math_9["math_score"].sum()/grouped_math_9["student_name"].count()
math_10 = a.loc[a["grade"] == "10th",:]
grouped_math_10=math_10.groupby("school_name")
grouped_math_avg_10=grouped_math_10["math_score"].sum()/grouped_math_10["student_name"].count()
math_11 = a.loc[a["grade"] == "11th",:]
grouped_math_11=math_11.groupby("school_name")
grouped_math_avg_11=grouped_math_11["math_score"].sum()/grouped_math_11["student_name"].count()
math_12 = a.loc[a["grade"] == "12th",:]
grouped_math_12=math_12.groupby("school_name")
grouped_math_avg_12=grouped_math_12["math_score"].sum()/grouped_math_12["student_name"].count()
math_schools_grade = pd.DataFrame({"9th Math Average":grouped_math_avg_9,
                            "10th Math Average":grouped_math_avg_10,
                            "11th Math Average":grouped_math_avg_11,
                           "12th Math Average":grouped_math_avg_12})
math_schools_grade.style.format({'9th Math Average': "{:.1f}"}).format({'10th Math Average': "{:.1f}"}).format({'11th Math Average': "{:.1f}"}).format({'12th Math Average': "{:.1f}"})

## Reading Score by Grade

* Perform the same operations as above for reading scores

In [17]:
read_9 = a.loc[a["grade"] == "9th",:]
grouped_read_9=read_9.groupby("school_name")
grouped_read_avg_9=grouped_read_9["reading_score"].sum()/grouped_read_9["student_name"].count()
read_10 = a.loc[a["grade"] == "10th",:]
grouped_read_10=read_10.groupby("school_name")
grouped_read_avg_10=grouped_read_10["reading_score"].sum()/grouped_read_10["student_name"].count()
read_11 = a.loc[a["grade"] == "11th",:]
grouped_read_11=read_11.groupby("school_name")
grouped_read_avg_11=grouped_read_11["reading_score"].sum()/grouped_read_11["student_name"].count()
read_12 = a.loc[a["grade"] == "12th",:]
grouped_read_12=read_12.groupby("school_name")
grouped_read_avg_12=grouped_read_12["reading_score"].sum()/grouped_read_12["student_name"].count()
read_schools_grade = pd.DataFrame({"9th Read Average":grouped_read_avg_9,
                            "10th Read Average":grouped_read_avg_10,
                            "11th Read Average":grouped_read_avg_11,
                           "12th Read Average":grouped_read_avg_12})
read_schools_grade.style.format({'9th Read Average': "{:.1f}"}).format({'10th Read Average': "{:.1f}"}).format({'11th Read Average': "{:.1f}"}).format({'12th Read Average': "{:.1f}"})

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [18]:
# Sample bins. Feel free to create your own bins.
spending_bins = [0, 585, 615, 645, 750]
group_names = ["<$585", "$585-614", "$615-644", "$645-750"]
top_schools["Spend Class"] = pd.cut(top_schools["$/student"], spending_bins, labels=group_names)
top_schools_sorted = top_schools.sort_values("%Overall Rate", ascending=False)
top_schools_sorted.style.format({'%Math Pass': "%{:.2f}"}).format({'%Read Pass': "%{:.2f}"}).format({'%Overall Rate': "%{:.2f}"}).format({'Math Avg': "{:.1f}"}).format({'Read Avg': "{:.1f}"}).format({'Budget': "${:.0f}"}).format({'$/student': "${:.0f}"})

## Scores by School Size

* Perform the same operations as above, based on school size.

In [19]:
# Sample bins. Feel free to create your own bins.
size_bins = [0, 1000, 2000, 3000, 4000, 5000]
size_names = ["S(<1000)", "S/M (1000-1999)", "M (2000-3000)", "M/L (3000-4000)", "L (>4000)"]
top_schools["Size Class"] = pd.cut(top_schools["#Students"], size_bins, labels=size_names)
top_schools_sorted = top_schools.sort_values("%Overall Rate", ascending=False)
top_schools_sorted.style.format({'%Math Pass': "%{:.2f}"}).format({'%Read Pass': "%{:.2f}"}).format({'%Overall Rate': "%{:.2f}"}).format({'Math Avg': "{:.1f}"}).format({'Read Avg': "{:.1f}"}).format({'Budget': "${:.0f}"}).format({'$/student': "${:.0f}"})

## Scores by School Type

* Perform the same operations as above, based on school type.

In [20]:
z['Type'].astype(str) 
scores_type= z.groupby("Type").mean().iloc[:,2:8]
#scores_type_w = scores_type.iloc[:,2:8]
#scores_type.drop(columns=["#Students","Budget"]) - doesn't work: Cannot access callable attribute 'drop' of 'DataFrameGroupBy' objects, try using the 'apply' method
#, also del function
scores_type.style.format({'%Math Pass': "%{:.2f}"}).format({'%Read Pass': "%{:.2f}"}).format({'%Overall Rate': "%{:.2f}"}).format({'$/student': "${:.0f}"}).format({'Math Avg': "%{:.1f}"}).format({'Read Avg': "%{:.1f}"})